* {
  font-family: "Open Sans";
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  min-height: 500px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 5px;
}

h1 {
  margin: 32px 0;
  font-size: 24px;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(70, 42, 101) 0%,
    rgb(13, 36, 82) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input {
  padding: 15px 32px 15px 16px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #dfe1e5;
  outline: none;
  width: 320px;
  background: transparent;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 10px auto;
  padding: 6px 32px;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
}
